
<footer class="pb-4 pt-5" id="footer-section">

    <div class="social-links d-flex justify-content-center mb-5">
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-facebook-f"></i>
      </a>
  
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-twitter"></i>
      </a>
  
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-youtube"></i>
      </a>
  
      <a routerLink="#" class="link mr-3 d-inline d-flex justify-content-center">
        <i class="social-link fab fa-instagram"></i>
      </a>
    </div>
  
    <div class="row">
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4"> Våra kurs</h5>
          <li><i class="fas fa-angle-right"></i> Priser</li>
          <li><i class="fas fa-angle-right"></i> priser</li>
          <li><i class="fas fa-angle-right"></i> Priser</li>
        </ul>
  
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4">Kontakt oss</h5>     
          <li><i class="fas fa-phone mt-3"></i>Ring oss: +46 (0)70-331 34 99</li>
          <li><i class="fas fa-envelope mt-3" type="Email"></i> Email: camilla@rise-and-shine.se</li>
  
        </ul>
  
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="footer-list">
          <h5 class="mb-4">Besöksadress</h5>
          <p>Ringgatan 16</p>
          <p>703 42 <strong>Örebro Sverige</strong></p>
  
          <li><i class=""></i>Öppet tider:</li>
          <li><i class="fas fa-angle-right"></i><strong>Tis, Ons:</strong> 12-18</li>
          <li><i class="fas fa-angle-right"></i><strong>Tors:</strong> 12-20</li>
          <li><i class="fas fa-angle-right"></i><strong>Fre:</strong> 08-17</li>
        </ul>
  
      </div>
  
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  
        <ul class="footer-list">
          <h5 class="mb-4">Företagsadress</h5>
          <p>Samsala Skogstorp 271</p>
          <p>694 92 <strong>Hallsberg Sverige</strong></p>
          <p>Öppet tid:</p>
          <p> <strong>Måndagar</strong>: 09-15:30</p>
        </ul>
  
      </div>
  
    </div>
  
  </footer>