<div class="container">
        <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
                <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
                    </span><span class="sep"> » </span> <a routerLink="/development" class="trail-end">Personalutveckling</a> <span
                    class="sep"> » </span> <span class="trail-end">Coaching</span>
            </div>
        Personlig coaching/Utveckling/Inspiration

        I grupp/ enskilt på ditt företag

        Privatperson



        Här väljer du fritt vad du vill prata om. Jag coachar dig att ta fram din inre potential och styrka. Att sätta
        mål och ge dig verktyg för att du ska kunna hitta den balans som du söker i ditt liv.

        Av erfarehet vet jag att det är viktigt att vara tydlig i sin målsättning. Det som är bra när du får frågor är
        att du kommer märka vad som verkligen är viktigt för dig och hur mycket du är beredd att investera för att nå
        ditt mål. De flesta av oss är otydliga i vad vi vill uppnå. Vi tror att vi vet , men oftast är vi " luddiga" och
        har svårt att förklara vad vi vill.

        Ditt samtal kan handla om

        ex livsstil , viktminskning, balans
        kost
        arbete
        träning
        relationer
        stress/rädsla
        stärk ditt personliga ledarskap
        familj , barn tonåring
        för bokning och mera information kontakta Camilla

        Ett samtal 800 kr 90 min
        samtal 2 600 kr 45-60 min
        Boka 3 ggr för 1650kr eller 5 ggr för 2500kr
        Sommarerbjudande 2×60 min 800 kr. Gäller fram till 9 Augusti. Båda samtalen skall bokas under denna tidsperiod.

        Du kan boka tid i Hallsberg eller Örebro

        Företag ring eller skriv för offert.





        skyddsängel






















        Då jag har en medial gåva, kan du boka tid för vägledning. Här tittar vi på dina energier och var du är idag och
        hur det ser ut framåt. Änglarna och din andliga familj finns här för dig. De vill att du ska lyckas här i livet
        och må bra och känna glädje. Många gånger har vi känslomässiga blockeringar som sätter stopp i vårat liv.
        Änglarna vill visa dig en väg där du inte behöver kämpa så hårt!



        https://www.facebook.com/riseandshineorebro/videos/1705910079511449/?t=9



        Medial vägledning
        Tarotläggning 45 el 90 min 500kr/800 kr



        Camilla 070-331 34 99
    </div>