<div class="jumbotron">
      <div class="container">
        <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
                <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
            </span> <span class="sep"> » </span> <span class="trail-end">Medial</span>
        </div>
<br>
        <h2>Medial</h2>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../../assets/62.jpg" routerLink="/massage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center" routerLink="/massage">Exempel & exempel</h5>

                    <!-- <p>
                            <a class="btn btn-md btn-primary" routerLink="/massage" role="button">fler detaljer</a>
                    </p>
                     -->
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/62.jpg" routerLink="/alternativ-medicin"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center" routerLink="/alternativ-medicin">Exempel & exempel</h5>

                    <!-- <p>
                        <a class="btn btn-md btn-primary" routerLink="/alternativ-medicin" role="button">fler detaljer</a>
                </p> -->

                </div>
            </div>


        </div> <br>

        <p class="text-justify">

            Camilla har en medial gåva, vilket betyder att hon kan få kontakt med dina anhöriga på andra sidan.
            
            I ett möte eller en behandling kan du få guidande information från familj, vänner, släktingar som lämnat jordelivet. Din andliga familj träder fram till dig som är öppen för det.
            
            Dessa brukar träda fram och förmedla budskap för att hjälpa dig på vägen.
            
            De vill dig alltid väl och deras avsikt är alltid att få dig att må bättre och att hjälpa dig på rätt väg.
            
            Vi får inte alltid höra det vi vill höra och vi får inte alltid budskap från den vi önskar ska träda fram.
            
            Du har en uppgift här på jorden och den ska du lösa själv. Men du kan alltid få råd på vägen och be om vägledning. Vi har alla denna gåva inuti oss. Din intuition är en del av detta.
            
            Änglarna och din andliga familj vill få dig att gå den väg du är ämnad att gå. Då kommer ditt liv bli enklare. Du skall inte behöva kämpa och slita ut dig för att må bra. Må bra är ditt naturliga tillstånd.
            
            När du har förlorat någon du älskar, någon som stått dig nära eller själv varit med om olycka eller trauman kan det vara svårt att förstå att det finns ett syfte med sitt liv. Men det finns ett syfte. Vi är en helhet och de du förlorar försvinner inte, du är fortfarande sammanlänkad med de som gått bort.
            
            De finns många änglabarn i himlen och deras uppgift på jorden varade en kort period. De jag haft kontakt med förmedlar att de idag mår bra och är starka ljusvarelser. Dessa änglabarn vill att deras jordföräldrar skall förstå detta och att föräldrarnas uppgift är att leva fullt ut, må bra och känna livsglädje och kärlek igen.
            
            Den du förlorat finns kvar hos dig, du kan ofta känna dem i din närhet om du tillåter ditt sinne att släppa in dem 
            
            Hos Camilla kan du boka medial vägledning i form av privat sittning med tarotkort. Chakrabalansering, är en guidad djupavslappning som hjälper dig att släppa ut gamla känslomässiga blockeringar från obearbetade händelser. Dessa blockeringar kan ligga i ditt undermedvetna och påverka ditt liv negativt. Vi har 7 olika chakran. Varje chakra är kopplad till olika känslor och även till en viss färg. Under denna balansering får du även mediala budskap som hjälper dig vidare. Under behandlingen kan tårar och känslor bli väldigt starka. Alla känslor behövs i våra liv, även de jobbiga. Det är när vi inte tillåter våra känslor att få finnas som blockeringar uppstår. Många upplever en stor lättnadskänsla efteråt.
            
            Det går även bra att boka en massage, där du kan få mediala budskap.
            
            Camilla ordnar kurser inom det mediala och kan bokas för sittningar, chakrabalasering på din ort. Vill du bli guidad genom Camilla så bokar du din tid på camilla@rise-and-shine.se
            
            Du kan även följa Camilla som bloggare på Tarotguiderna.se under riseandshine.tarotguiderna.se
       









        <!-- <div class="row">
                            <div class="col-sm-8">
                                    <h4>MASSAGE</h4>
                                    <h5>Boka 3 ggr för 1650kr eller 5 ggr för 2500kr</h5>
                                    <p>Djupgående behandlade massage eller avkopplande och stressreducerande. Du väljer själv. Korrigerar snedställning i höft och tillfällig benslängdsskillnad. Snedhet och tillfällig benlängsskillnad påverkar både din styrka i vissa muskler och din balans. Kan även vara orsak till rygg och nackproblem. Att ha balans och korrekt styrka är en förutsättning för att inte få ont i rygg, nacke , axlar, höfter och knän. </p>
                            </div>
                            
                          </div>
                          <div class="row">
                                <div class="col-sm-8">
                                        <h4>AVSLAPPNING</h4>
                                        <h5>Boka 3 ggr för 1650kr eller 5 ggr för 2500kr</h5>
                                        <p>För dig som känner  stress, obalans i livet, sorg, värk, svårt att koppla av. Här guidar jag dig steg för steg till djupavslappning. Målet är att du ska lära dig tekniken för att kunna utöva detta hemma. I denna behandling upplever många att blockeringar släpper. Ibland rinner tårarna och det är helt ok. De flesta känner ett skönt välbehag/välbefinnande efteråt och säger att det var välbehövligt.  Det är även en grundförutsättning när du vill göra en förändring eller arbeta med personlig utveckling. För att kunna ta in ny kunskap och för att kunna släppa taget om den stress och det tankekoas som många idag upplever.</p>
                                </div>
                              
                                
                              </div>
    
                              <div class="row">
                                    <div class="col-sm-8">
                                            <h4>CHAKRABALANSERING</h4>
                                            <h5>Boka 3 ggr för 1650kr eller 5 ggr för 2500kr </h5>
                                            <p>avslappning , men här arbetar vi på ett mera andligt sätt. Ett skönt sätt att släppa ut gamla blockeringar som ligger kvar och stör ditt enegiflöde idag. Vi är en helhet och det som smärtar i din kropp/ditt sinne kan vara en känslomässig obalans från tidigare obearbetade händelser. Behandlingen kan bli känslosam, men efteråt så känner de flesta en lättnad och glädje. Tekniken jag utövar kan du sedan använda hemma.   </p>
                                    </div>
                                  
                                    
                                  </div>
    
                                  <div class="row">
                                        <div class="col-sm-8">
                                                <h4>FOTBEHANDLING</h4>
                                                <h5>Boka 3 ggr för 1650kr</h5>
                                                <p>Vi startar med ett uppmjukande detoxande fotbad, för att sedan massera och tryckbehandla dina fötter och en del på vad/smalben. Under dina fötter finns många punkter som hör ihop med övriga kroppen. Både muskulärt och organmässigt. Genom att massera och trycka löser vi bl a upp en hel del av de spänningar som kan påverka din gång, dina knän, höfter.</p>
                                        </div>
                                      
                                        
                                      </div>
    
                                      <div class="row">
                                            <div class="col-sm-8 color">
                                                    <h4>MUSKELTESTNING MED KINESIOLOGI</h4>
                                                    <h5>Testningen gratis när du handlar tillskott för 400 kr</h5>
                                                    <p>Här testar jag vilka organ som har en svaghet. Sedan testar jag vilka kosttillskott som stärker dina organ. Utifrån vad du söker för , så tar jag fram en behandlingsplan för att stärka din kropp.</p>
                                            </div>
                                          
                                           
                                          </div>
    
                                          <div class="row">
                                                <div class="col-sm-8">
                                                        <h4>SAMTALSCOACHING</h4>
                                                        <h5>Boka 3 samtal för 1650 kr ellr 5 ggr för 2500 kr</h5>
                                                        <p>För dig som vill göra en förändring eller ha hjälp att sätta upp mål.  Vi tittar på ditt utgångsläge idag och lägger upp en strategi för nå ditt mål. En del är nöjda med ett samtal , och en del bokar in flera samtal. Ämne väljer du Livsstilsförändring, relationer, hälsa, arbete mm</p>
                                                </div>
                                              
                                               
                                              </div>
    
                                              <div class="row">
                                                    <div class="col-sm-8">
                                                            <h4>PERSONLIG TRÄNING</h4>
                                                            <h5>Boka 3 gånger för 1650kr eller 5 ggr för 2500kr.</h5>
                                                            <p>som vill ha hjälp att komma igång med din träning. Du får övningar som du kan göra på gym eller hemma utifrån dina förutsättningar och önskemål. Du kan även blanda med coaching för viktminskning eller förändring av kostvanor.</p>
                                                    </div>
                                                  
                                                    
                                                  </div>
    
                              
                              <div class="row">
                                <div class="span12">
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>Behandling</th>
                                                <th>Tid</th>
                                                <th>Pris</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Företag ex moms</td>
                                                <td>45 min</td>
                                                <td>600 kr</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Helkropp </td>
                                                <td>75 min </td>
                                                <td>800 kr</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Massage </td>
                                                <td>45 min 3-kort</td>
                                                <td>1650 kr</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Massage </td>
                                                <td>45 min 5-kort</td>
                                                <td>2500 kr</td>
                                                
                                                
                                            </tr> <br> <br>
                                            <tr>
                                                <td>Fotbehandling </td>
                                                <td>45 min</td>
                                                <td>600 kr</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Fotbehandling  </td>
                                                <td>3 ggr 45 min </td>
                                                <td>1650 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td>Fotbehandling  </td>
                                                <td>5 ggr 45 min </td>
                                                <td>2500 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr> <br> <br>
                                            <tr>
                                                <td>Avslappning  </td>
                                                <td>45 min </td>
                                                <td>600 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td>Avslappning  </td>
                                                <td>3 -kort  </td>
                                                <td>1650 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Avslappning </td>
                                                <td> 5-kort</td>
                                                <td>2500 kr</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Chakrabalansering </td>
                                                <td>45 min</td>
                                                <td>600 kr</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Chakrabalansering </td>
                                                <td>3-kort </td>
                                                <td>1650 kr</td>
    
                                            </tr>
                                            <tr>
                                                <td>Chakrabalansering  </td>
                                                <td>5-kort</td>
                                                <td>2500 kr</td>
                                            
                                            </tr> <br> <br>
                                            <tr>
                                                <td>Samtalscoaching</td>
                                                <td>90 min</td>
                                                <td>800 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Uppföljningssamtal   </td>
                                                <td>45-60 min</td>
                                                <td>600 kr</td>
                                            
                                            </tr> <br> <br>
                                            <tr>
                                                <td>3 st Samtalscoaching   </td>
                                                <td>45-60 min</td>
                                                <td>1650 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>5 st samtalscoaching    </td>
                                                <td>45-60 min</td>
                                                <td>2500 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Kinesiologitestning    </td>
                                                <td>( Gratis vid köp av produkter för 400 kr)</td>
                                                <td>400 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Vägning tanitavåg</td>
                                                <td>fettprocent </td>
                                                <td>50 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Personligt träningsupplägg i gymmet</td>
                                                <td>30 min </td>
                                                <td>300kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Personligt träningupplägg i gymmet</td>
                                                <td>60 min</td>
                                                <td>600 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Föreläsningar och Utbildningar Träningsgrupper offert</td>
                                                <td> </td>
                                                <td></td>
                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->



    </div>

</div>