<div class="container">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span><span class="sep"> » </span> <a routerLink="/development" class="trail-end">Personalutveckling</a> <span class="sep"> » </span> <span class="trail-end">Alternativmedicin</span>
    </div>
    <br>
    <div>
        <h4>Alternativmedicin</h4>
        <p>För att ha en frisk och en stark kropp så är det viktigt att skapa rätt grundförutsättningar för att du ska
            kunna må bra/må bättre. Inom alternativmedcin arbetar jag med helhetstänket. Det som skiljer skolmedicin
            från alternativmedicin är att det behöver inte finnas en diagnos för att göra en behandling.

            Inom alternativmedicin arbetar jag med att stärka upp kroppen utifrån hur du mår. Det finns mycket vi kan
            göra själva genom att göra bra val i våran livsstil. Genom att göra bra val kan du hålla dig frisk och stark
            och lättare hålla sjukdomar borta.
            Alternativmedicin kan du även använda i förebyggande syfte för att investera i en frisk framtid, istället
            för att vänta på att bli sjuk för att sedan behandla din kropp. <br>
            Att använda alternativmedicin innebär att du stärker din kropp med <br>

            - rätt kost <br>
            - kosttillskott, örter, näringsdrycker <br>
            Då det sällan räcker med att ändra på en sak för att må bättre så bör du även se över <br>

            - sömn <br>
            - motion, rörelse <br>
            - mental inställning <br>
            - avslappning/återhämtning <br> <br>
            <strong>Kinesiologitestning</strong> <br>

            Genom muskeltestning testar jag vilka svagheter som finns i dina organ.och sedan vilka kosttillskott som
            stärker upp dina svagheter. <br>

            Jag testar hur länge du behöver äta ett preparat och dosering. <br>

            - Kinesiologitestning 400kr ( gratis vid produktköp för 400 kr) <br>

            Jag säljer endast preparat från företag som levererar tillskott med rätt sammansättning och där kroppen kan
            ta upp och tillgodogöra sig näringen tex: <br>
            - Alpha Plus <br>

            - Holistic <br>

            - Jiba <br>

            - Örtspeciallisten <br>

            - Great Earth <br>

            - Organic Inda</p>

        <!-- <div class="row">
            <div class="col-sm-8 color">
                    <h4>Muskeltestning med kinesiologi</h4>
                    <h6>Testningen gratis när du handlar tillskott för 400 kr</h6>
                    <p>Här testar jag vilka organ som har en svaghet. Sedan testar jag vilka kosttillskott som stärker dina organ. Utifrån vad du söker för , så tar jag fram en behandlingsplan för att stärka din kropp.</p>
            </div>
          
           
          </div> -->

    </div>