
<div class="jumbotron">
    
    <div class="container">
            <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
                    <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
                </span> <span class="sep"> » </span> <span class="trail-end">Personalutveckling</span>
            </div>
            <br>
        <h2>Personalutveckling</h2>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../../assets/57.jpg" routerLink="/massage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center" routerLink="/massage">Coachning</h5>

                    <!-- <p>
                            <a class="btn btn-md btn-primary" routerLink="/massage" role="button">fler detaljer</a>
                    </p>
                     -->
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../assets/63.jpg" routerLink="/alternativ-medicin"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center" routerLink="/alternativ-medicin">Föreläsning Utbildning</h5>

                    <!-- <p>
                        <a class="btn btn-md btn-primary" routerLink="/alternativ-medicin" role="button">fler detaljer</a>
                </p> -->

                </div>
            </div>


        </div> <br>

        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsa mollitia aliquam,
            voluptates sed quam eum qui facere provident, laborum, adipisci vel itaque porro quisquam voluptatem optio?
            Aspernatur non vel ullam sunt, quam reprehenderit. Adipisci quae ab saepe eaque impedit nulla. Hic veritatis
            fugit numquam harum repellat repellendus illum, placeat ducimus molestias nam aut, ad deleniti officiis
            delectus tenetur suscipit odit itaque incidunt nulla a soluta cum voluptate vel illo. Vel dolores nobis
            doloremque veritatis quasi provident dolore quia sed obcaecati debitis, perspiciatis est aliquam sint
            eveniet perferendis nemo dolor fugit, quisquam totam iusto voluptatem reprehenderit suscipit. Odio, magni
            eligendi.</p>









        <!-- <div class="row">
                            <div class="col-sm-8">
                                    <h4>MASSAGE</h4>
                                    <h5>Boka 3 ggr för 1650kr eller 5 ggr för 2500kr</h5>
                                    <p>Djupgående behandlade massage eller avkopplande och stressreducerande. Du väljer själv. Korrigerar snedställning i höft och tillfällig benslängdsskillnad. Snedhet och tillfällig benlängsskillnad påverkar både din styrka i vissa muskler och din balans. Kan även vara orsak till rygg och nackproblem. Att ha balans och korrekt styrka är en förutsättning för att inte få ont i rygg, nacke , axlar, höfter och knän. </p>
                            </div>
                            
                          </div>
                          <div class="row">
                                <div class="col-sm-8">
                                        <h4>AVSLAPPNING</h4>
                                        <h5>Boka 3 ggr för 1650kr eller 5 ggr för 2500kr</h5>
                                        <p>För dig som känner  stress, obalans i livet, sorg, värk, svårt att koppla av. Här guidar jag dig steg för steg till djupavslappning. Målet är att du ska lära dig tekniken för att kunna utöva detta hemma. I denna behandling upplever många att blockeringar släpper. Ibland rinner tårarna och det är helt ok. De flesta känner ett skönt välbehag/välbefinnande efteråt och säger att det var välbehövligt.  Det är även en grundförutsättning när du vill göra en förändring eller arbeta med personlig utveckling. För att kunna ta in ny kunskap och för att kunna släppa taget om den stress och det tankekoas som många idag upplever.</p>
                                </div>
                              
                                
                              </div>
    
                              <div class="row">
                                    <div class="col-sm-8">
                                            <h4>CHAKRABALANSERING</h4>
                                            <h5>Boka 3 ggr för 1650kr eller 5 ggr för 2500kr </h5>
                                            <p>avslappning , men här arbetar vi på ett mera andligt sätt. Ett skönt sätt att släppa ut gamla blockeringar som ligger kvar och stör ditt enegiflöde idag. Vi är en helhet och det som smärtar i din kropp/ditt sinne kan vara en känslomässig obalans från tidigare obearbetade händelser. Behandlingen kan bli känslosam, men efteråt så känner de flesta en lättnad och glädje. Tekniken jag utövar kan du sedan använda hemma.   </p>
                                    </div>
                                  
                                    
                                  </div>
    
                                  <div class="row">
                                        <div class="col-sm-8">
                                                <h4>FOTBEHANDLING</h4>
                                                <h5>Boka 3 ggr för 1650kr</h5>
                                                <p>Vi startar med ett uppmjukande detoxande fotbad, för att sedan massera och tryckbehandla dina fötter och en del på vad/smalben. Under dina fötter finns många punkter som hör ihop med övriga kroppen. Både muskulärt och organmässigt. Genom att massera och trycka löser vi bl a upp en hel del av de spänningar som kan påverka din gång, dina knän, höfter.</p>
                                        </div>
                                      
                                        
                                      </div>
    
                                      <div class="row">
                                            <div class="col-sm-8 color">
                                                    <h4>MUSKELTESTNING MED KINESIOLOGI</h4>
                                                    <h5>Testningen gratis när du handlar tillskott för 400 kr</h5>
                                                    <p>Här testar jag vilka organ som har en svaghet. Sedan testar jag vilka kosttillskott som stärker dina organ. Utifrån vad du söker för , så tar jag fram en behandlingsplan för att stärka din kropp.</p>
                                            </div>
                                          
                                           
                                          </div>
    
                                          <div class="row">
                                                <div class="col-sm-8">
                                                        <h4>SAMTALSCOACHING</h4>
                                                        <h5>Boka 3 samtal för 1650 kr ellr 5 ggr för 2500 kr</h5>
                                                        <p>För dig som vill göra en förändring eller ha hjälp att sätta upp mål.  Vi tittar på ditt utgångsläge idag och lägger upp en strategi för nå ditt mål. En del är nöjda med ett samtal , och en del bokar in flera samtal. Ämne väljer du Livsstilsförändring, relationer, hälsa, arbete mm</p>
                                                </div>
                                              
                                               
                                              </div>
    
                                              <div class="row">
                                                    <div class="col-sm-8">
                                                            <h4>PERSONLIG TRÄNING</h4>
                                                            <h5>Boka 3 gånger för 1650kr eller 5 ggr för 2500kr.</h5>
                                                            <p>som vill ha hjälp att komma igång med din träning. Du får övningar som du kan göra på gym eller hemma utifrån dina förutsättningar och önskemål. Du kan även blanda med coaching för viktminskning eller förändring av kostvanor.</p>
                                                    </div>
                                                  
                                                    
                                                  </div>
    
                              
                              <div class="row">
                                <div class="span12">
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>Behandling</th>
                                                <th>Tid</th>
                                                <th>Pris</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Företag ex moms</td>
                                                <td>45 min</td>
                                                <td>600 kr</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Helkropp </td>
                                                <td>75 min </td>
                                                <td>800 kr</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Massage </td>
                                                <td>45 min 3-kort</td>
                                                <td>1650 kr</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Massage </td>
                                                <td>45 min 5-kort</td>
                                                <td>2500 kr</td>
                                                
                                                
                                            </tr> <br> <br>
                                            <tr>
                                                <td>Fotbehandling </td>
                                                <td>45 min</td>
                                                <td>600 kr</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Fotbehandling  </td>
                                                <td>3 ggr 45 min </td>
                                                <td>1650 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td>Fotbehandling  </td>
                                                <td>5 ggr 45 min </td>
                                                <td>2500 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr> <br> <br>
                                            <tr>
                                                <td>Avslappning  </td>
                                                <td>45 min </td>
                                                <td>600 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td>Avslappning  </td>
                                                <td>3 -kort  </td>
                                                <td>1650 kr </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Avslappning </td>
                                                <td> 5-kort</td>
                                                <td>2500 kr</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Chakrabalansering </td>
                                                <td>45 min</td>
                                                <td>600 kr</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Chakrabalansering </td>
                                                <td>3-kort </td>
                                                <td>1650 kr</td>
    
                                            </tr>
                                            <tr>
                                                <td>Chakrabalansering  </td>
                                                <td>5-kort</td>
                                                <td>2500 kr</td>
                                            
                                            </tr> <br> <br>
                                            <tr>
                                                <td>Samtalscoaching</td>
                                                <td>90 min</td>
                                                <td>800 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Uppföljningssamtal   </td>
                                                <td>45-60 min</td>
                                                <td>600 kr</td>
                                            
                                            </tr> <br> <br>
                                            <tr>
                                                <td>3 st Samtalscoaching   </td>
                                                <td>45-60 min</td>
                                                <td>1650 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>5 st samtalscoaching    </td>
                                                <td>45-60 min</td>
                                                <td>2500 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Kinesiologitestning    </td>
                                                <td>( Gratis vid köp av produkter för 400 kr)</td>
                                                <td>400 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Vägning tanitavåg</td>
                                                <td>fettprocent </td>
                                                <td>50 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Personligt träningsupplägg i gymmet</td>
                                                <td>30 min </td>
                                                <td>300kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Personligt träningupplägg i gymmet</td>
                                                <td>60 min</td>
                                                <td>600 kr</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>Föreläsningar och Utbildningar Träningsgrupper offert</td>
                                                <td> </td>
                                                <td></td>
                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->



    </div>

</div>