<div class="container">
        <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
                <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
                    </span><span class="sep"> » </span> <a routerLink="/development" class="trail-end">Personalutveckling</a> <span
                    class="sep"> » </span> <span class="trail-end">Massage</span>
            </div>
            <br>

    <div class="row">
        <div class="col-sm-8">
                <h4>MASSAGE</h4>
                <p>Djupgående behandlade massage eller avkopplande och stressreducerande. Du väljer själv. Korrigerar snedställning i höft och tillfällig benslängdsskillnad. Snedhet och tillfällig benlängsskillnad påverkar både din styrka i vissa muskler och din balans. Kan även vara orsak till rygg och nackproblem. Att ha balans och korrekt styrka är en förutsättning för att inte få ont i rygg, nacke , axlar, höfter och knän. </p>
        </div> 
      </div>
      <div class="row">
        <div class="span12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Behandling</th>
                        <th>Tid</th>
                        <th>Pris</th>
                        <th>Företag ex moms</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Massage</td>
                        <td>45 min</td>
                        <td>600 kr</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Helkropp </td>
                        <td>75 min </td>
                        <td>800 kr</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Massage </td>
                        <td>45 min 3-kort</td>
                        <td>1650 kr</td>
                        
                    </tr>
                    <tr>
                        <td>Massage </td>
                        <td>45 min 5-kort</td>
                        <td>2500 kr</td>
                        
                        
                    </tr>
                    <tr>
                        <td>Fotbehandling </td>
                        <td>45 min</td>
                        <td>600 kr</td>
                        
                    </tr>
                    <tr>
                        <td>Fotbehandling  </td>
                        <td>3 ggr 45 min </td>
                        <td>1650 kr </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Fotbehandling  </td>
                        <td>5 ggr 45 min </td>
                        <td>2500 kr </td>
                        <td> </td>
                        <td> </td>
                    </tr> 
                   
                </tbody>
            </table>
        </div>
        </div>
        
      <div class="row">
            <div class="col-sm-8">
                    <h4>AVSLAPPNING</h4>
                    <p>För dig som känner  stress, obalans i livet, sorg, värk, svårt att koppla av. Här guidar jag dig steg för steg till djupavslappning. Målet är att du ska lära dig tekniken för att kunna utöva detta hemma. I denna behandling upplever många att blockeringar släpper. Ibland rinner tårarna och det är helt ok. De flesta känner ett skönt välbehag/välbefinnande efteråt och säger att det var välbehövligt.  Det är även en grundförutsättning när du vill göra en förändring eller arbeta med personlig utveckling. För att kunna ta in ny kunskap och för att kunna släppa taget om den stress och det tankekoas som många idag upplever.</p>
            </div>
    
            
          </div>
    
          <div class="row">
            <div class="span12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Behandling</th>
                            <th>Tid</th>
                            <th>Pris</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>Avslappning  </td>
                            <td>45 min </td>
                            <td>600 kr </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Avslappning  </td>
                            <td>3 -kort  </td>
                            <td>1650 kr </td>
                            <td> </td>
                            <td> </td>
                        </tr>                   
                        <tr>
                            <td>Avslappning </td>
                            <td> 5-kort</td>
                            <td>2500 kr</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- <tr>
                            <td>Chakrabalansering </td>
                            <td>45 min</td>
                            <td>600 kr</td>
                            
                        </tr>
                        <tr>
                            <td>Chakrabalansering </td>
                            <td>3-kort </td>
                            <td>1650 kr</td>
    
                        </tr>
                        <tr>
                            <td>Chakrabalansering  </td>
                            <td>5-kort</td>
                            <td>2500 kr</td>
                        
                        </tr> -->
                       
                    </tbody>
                </table>
            </div>
            </div>
    
          
    
        </div>