
<section class="container" style="margin-top: 120px;">
    <div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><span class="trail-begin">
            <a routerLink="/home" title="- för din personliga utveckling" rel="home" class="trail-begin">Hem</a>
        </span> <span class="sep"> » </span> <span class="trail-end">Kontakta oss</span>
    </div>
<br>
    <h2>Kontakta oss</h2>
  <div class="card bg-dark text-white">
    <img src="../assets/60.jpg" class="card-img" alt="...">
    <div class="card-img-overlay col-md-6 ml-3" id="contact-fram-text" style="margin-top:30%; color:black">
      <h5 class="card-title">Camilla Wellsén</h5>
      <p class="card-text">Mental tränare. Medial vägledare. Näringterapeut. Dansinustruktör. Träningsinstruktör. Föreläsare.</p>
      <p class="card-text"></p>
       <p class="card-text"></p>
       <p class="card-text">Kontakt camilla@rise-and-shine.se</p>
       <p class="card-text">Mobil <strong>070-331 34 99 </strong>lämna meddelande så ringer jag tillbaka när jag har ledig tid</p>
       <p class="card-text">Då jag arbetar med kunder når du mig enklast på mail eller SMS.</p>
    </div>
  </div>



  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-md-0 mb-5">
      <form id="contact-form" name="contact-form" action="mail.php" method="POST">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <label for="name" class="">Ditt namn</label>
              <input type="text" id="name" name="name" class="form-control">
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <label for="email" class="">Email</label>
              <input type="text" id="email" name="email" class="form-control">
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <label for="subject" class="">Ämne</label>
              <input type="text" id="subject" name="subject" class="form-control">
            </div>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="md-form">
              <label for="message">Meddelanden</label>
              <textarea type="text" id="message" name="message" rows="8" class="form-control md-textarea"
                placeholder="skriv ditt Meddelanden"></textarea>
            </div>

          </div>
        </div>
        <!--Grid row-->

      </form>

      <div class="text-center text-md-left">
        <a class="btn float-right" style="background-color: #363636; color: whitesmoke;"
          onclick="document.getElementById('contact-form').submit();">Sicka</a>
      </div>
      <div class="status"></div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6">

      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d65232.12154924484!2d15.133649577042034!3d59.27443869824327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x465c14e06ae0a271%3A0x6225730b77a8de7a!2sRinggatan%2016%2C%20703%2042%20%C3%96rebro!3m2!1d59.2744575!2d15.2036889!5e0!3m2!1sen!2sse!4v1573564359422!5m2!1sen!2sse"
          frameborder="0" style="border:0" allowfullscreen></iframe> </div>
      <!-- Buttons-->


    </div>
    <!--Grid column-->

  </div>

</section>



<style>
  .map-container-section {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-container-section iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @media only screen and (max-width: 1060px)  {
  
  }
  @media only screen and (max-width: 900px) {
    #contact-fram-text {
      margin-top: 0;
    }
    }
</style>